@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style-image: url('../img/list.png');
    list-style-position: inside;
    text-align: left;
    margin:0;
    padding:0;
    padding-left: 15px;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:black;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

/* Custom CSS
 * --------------------------------------- */
body{
	font-family: 'Lato', Calibri, Arial, sans-serif;
}
h1{
	font-size: 6em;
}
h2{
	font-size: 4em;
}
h3{
	font-size: 2em;
}
h4{
	font-size: 1.5em;
}

/* Wrapper */
.wrapper{
	position: absolute;
	top: 160px;
	left: 20px;
	width: 96.8%;
	height: 65%;
	overflow-y: hidden;
	background-color: white;
	z-index: 100px;
}

/* Footer */
.footer{
	position: fixed;
	left: 20px;
	width: 96.8%;
	height: 50px;
	z-index: 50;
	background-color: grey;	
	text-align: center;
	font-size: 80%;
}
.footer h3, .footer p{
	color: white;
}
.footer img{
	width: 30%;
}

/* Logo */
.logo{
	position: fixed;
	top: 0;
	left: 20px;
	width: 70%;
	height: 160px;
	z-index: 50;
	background-image: url("../img/logos.png");
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 25%;
}

/* Icon */
.icon{
	position: relative;
	top: 10px;
	left: 0;
	width: 25px;
	height: 25px;
	display: inline-block;
	border-radius: 50%;
	margin-right: 5px;
	cursor: pointer;
	transition: all .2s ease-in-out;
}
.fb-icon{
	background-image: url('../img/fb-icon.jpg');
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 25px;
}
.twitter-icon{
	background-image: url('../img/twitter-icon.jpg');
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 25px;
}
.gp-icon{
	background-image: url('../img/gp-icon.jpg');
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 25px;
}
.li-icon{
	background-image: url('../img/li-icon.jpg');
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 25px;
}
.github-icon{
	background-image: url('../img/github-icon.jpg');
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 25px;
}
.icon:hover{
	transform: scale(1.1);
	-moz-box-shadow: 0 0 5px #fff;
	-webkit-box-shadow: 0 0 5px #fff;
	box-shadow: 0px 0px 5px #fff;
}

/* Menu
 * --------------------------------------- */
#menu span{
	width: 100%;
	display: table;
	margin: 0 auto;
	text-align: center;
	margin-top: 30%;
}
#menu li {
	display:inline-block;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	height: 100%;
	width: 23%;
	float: right;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu a{
	text-decoration:none;
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li.active {
	color: #fff;
}
#menu{
	position:fixed;
	top:60px;
	right: 24px;
	height: 100px;
	z-index: 70;
	width: 50%;
	margin:0;
}

/* Photo */
.photo{
	position: relative;
	float: left;
	width: 10%;
	height: 40%;
	background-color: black;
	background-image: url("../img/foto.jpg");
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 100%;
}

/* Float position */
.right{
	float: right;
}
.left{
	float: left;
}

/* Display style */
.inline-block{
	display: inline-block;
}
.table-cell{
	display: table-cell;
}

/* Main Row */
.row{
	position: relative;
	width: 100%;
	height: 50%;

}

/* Column div */
.col-md-1{
	position: relative;
	width: 30%;
	height: 100%;	
}
.col-md-2{
	position: relative;
	width: 40%;
	height: 100%;	
}
.col-md-3{
	position: relative;
	float: left;
	width: 50%;
	height: 100%;	
}
.col-md-4{
	position: relative;
	width: 60%;
	height: 100%;	
}
.col-md-5{
	position: relative;
	width: 70%;
	height: 100%;	
}

.col-px-4{
	position: relative;
	width: 31%;
	height: 27%;
	background-color: black;
}
.col-px-8{
	position: relative;
	width: 54.3%;
	height: 40%;
}
.col-px-10{
	position: relative;
	width: 64.3%;
	height: 52.5%;
}

/* Column Right */
.col-rd-5{
	position: relative;
	float: right;
	width: 80%;
	height: 100%;	
}

/* Column div option */
.col-px-8 h1,h2,h3{
	text-align: left;
}
.col-md-1 img{
	max-width: 100%;
	max-height: 100%;
}

/* Row div */
.row-md-6{
	position: relative;
	width: 35.7%;
	height: 100%;	
	padding: 0;
}
.row-md-6 , .inner{
	display: block;
}

/* Small box */
.box-sm-3{
	position: relative;
	width: 29.5%;
	height: 120px;
	margin-right: 27px;
}

/* Padding */
.inner{
	padding: 20px;
}

/* Wheel BUtton */
.wheel-button, .wheel-button:visited{
	position: fixed;
	top: 43%;
	left: 23%;
	width: 200px;
	height: 200px;
	z-index: 50;	

}
.wheel-button.ne {
    border-color: white;
    background: #1ABC9C;
    color: #34FFFF;
    position: absolute;
    bottom: 10px;
    left: 10px;
}   
.wheel-button.nw {
    border-color: white;
    background-color: #E67E22;
    color: #FFFC44;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.wheel-button img, .wheel img{
    position: relative;
    width: 200px;
    height: 200px;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    display: block;
}
.wheel-button.active img{
      transform: rotate(135deg);
      -ms-transform: rotate(135deg); /* IE 9 */
      -webkit-transform: rotate(135deg); /* Safari and Chrome */
}

/* Wheel CHild */
.wheel li a, .wheel li a:visited{
    background: rgba(0,0,0,0.65);
    font-weight: bold;
    padding: 10px;
    text-align: center;
    width: 100px;
    height: 50px;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 1px rgba(255,255,255,0.5);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 1px rgba(255,255,255,0.5);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 1px rgba(255,255,255,0.5);
    color: white;
    -moz-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.wheel li a:hover{
    background: rgba(0,0,0,0.8);
}
.wheel {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 300px; /* this will determine the diameter of the circle  */
  height: 300px; /* this will determine the diameter of the circle  */
  visibility: hidden;
  position: relative;
  display: none;
}
.wheel li {
  overflow: hidden;
  float:left;
}
.wheel li a {
  display: block;
}

/* Skills & Experience submenu */
#skills{
	position: absolute;
	top:0;
	left: 0;
	width: 94.5%;
	height: 100%;
	opacity: 1;
   	transition: opacity .75s ease-in-out;
   	-moz-transition: opacity .75s ease-in-out;
   	-webkit-transition: opacity .75s ease-in-out;
}
#experience{
	position: absolute;
	top: 0;
	left: 0;
	width: 94.5%;
	height: 100%;
	opacity: 0;
   	transition: opacity .75s ease-in-out;
   	-moz-transition: opacity .75s ease-in-out;
   	-webkit-transition: opacity .75s ease-in-out;
}
#project{
	position: absolute;
	top: 0;
	left: 0;
	width: 94.5%;
	height: 100%;
	opacity: 0;
   	transition: opacity .75s ease-in-out;
   	-moz-transition: opacity .75s ease-in-out;
   	-webkit-transition: opacity .75s ease-in-out;
}
#education{
	position: absolute;
	top: 0;
	left: 0;
	width: 94.5%;
	height: 100%;
	opacity: 0;
   	transition: opacity .75s ease-in-out;
   	-moz-transition: opacity .75s ease-in-out;
   	-webkit-transition: opacity .75s ease-in-out;
}
.img-skill{
	position: relative;
	top: 50px;
}
.sec2-info{
	position: relative;
	width: 70%;
	height: 70%;
	border:1px solid #000;
}
.sec2-container {
  	max-width: 100%;
  	height: 100%;
  	background-color: black;
  	margin: 0 auto;
  	text-align: center;
  	position: relative;
}
.sec2-container div {
  background-color: white;
  width: 100%;
  height: 90%;
  display: inline-block;
  display: none;
}
.sec2-container img {
  width: 100%;
  height: auto;
}
.sec2-info a{
	cursor: pointer;
}
.sec2-next {
	position: relative;
	float: right;
	right: 15px;
	top: 90%;
	z-index: 100;
}
.sec2-prev {
	position: relative;
	float: left;
	left: 15px;
	top: 90%;
	z-index: 100;
}
#project table, td{
	table-layout: fixed;
	border: 1px solid #000;
	border-collapse: collapse;
	font-size: 80%;
}
td {
    padding: 5px;
    text-align: left;
}

/* Education Circle */
.circle{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: white;
	text-align: center;
}
.circle p{
	position: absolute;
	top: 50%;
    left: 50%;
    height: 100%;
    width: 50%;
    margin: -15% 0 0 -25%;
}
